body{ font-family: sans-serif;
 }

.carouselImg{
 height:400px;
 width: 90%;
 display: block;
 margin-left: auto;
 margin-right: auto;
}

.heading{
color:#23aacc;
float: right;
}

.alert {
  text-align: center;
}

.guest-details{

    width: 75%;

}
.table{
    border-collapse: collapse;
}
.borderless {
border: none;
}
.status{

    font-size: 25px;
    font-weight:  bold;
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;


}
.status.approved{
    color: #00c434;
    border-style: dashed;
    border-color: #00c434;
}
.status.awaiting{
    color:#faee05;
    border-style: dashed;
    border-color:#faee05;
}
.status.cancelled{
    color: #eb4802;
    border-style: dashed;
    border-color: #eb4802;
}

.booking-details{
    width: 50%;

}
.status-container{
    height: 100px;
   width: 25%;

}
.navbar{
  background-color: #23accc; 

}


.nav-link{
    color:white;
    text-decoration: none;
}

.navbar-right{
  float:right;
}

.nav-link.active,.nav-link:hover{
  color:white;
  text-decoration: none;  
  font-weight: bold;
 
}
.collapserow:hover
{
    cursor: pointer;
}
.collapse
{
    background-color: none;
}
.form-tab
{display: none;}
input.invalid {
  background-color: #ffdddd;
}
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}
.btn-prim
{
    background-color: #23accc;
    color: white;
}


.step.active {
  opacity: 1;
 background-color: #23accc;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color:#23accc;
}
.admin_login {
 background: transparent;
border: none;
 cursor: pointer;
  width: 10%;
}
.login_button
{
    background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.login_button:hover {
  opacity: 0.8;
}
/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

.avatar {
  width: 10%;
  border-radius: 50%;
}

.cursor:hover{
  cursor: pointer;
}
.container {
 width:inherit;
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}
/* Full-width input fields */
input[type=text], input[type=password], input[type=email] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}

/*--------------Booking Page------------*/
.none{ display:none;}
.dropdown_calendar{  position: relative;
    width: 200px;
    margin: 0 auto;
    padding: 10px;

    /* Styles */
    background: #fff;
    border-radius: 7px;
    border: 1px solid rgba(0,0,0,0.15);
    box-shadow: 0 1px 1px rgba(50,50,50,0.1);
    cursor: pointer;
    outline: none;

    /* Font settings */
    font-weight: bold;
    color: #23aacc;}
.dropdown_calendar:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #8aa8bd transparent;
}

#calendar_div{float:left;padding-left: 10px}
#calender_section{ width:700px; margin:30px auto 0;}
#calender_section h2{ color:#444444; font-size:17px; text-align:center; line-height:40px;}
#calender_section h2 a{ color:#23aacc; float:none; font-size: 30px;text-decoration : none;}
#calender_section_top{ width:100%; float:left; margin-top:20px;}
#calender_section_top ul{padding:0; list-style-type:none;}
#calender_section_top ul li{ float:left; display:block; width:99px; border-right:1px solid #fff;  text-align:center; font-size:14px; min-height:0; background:none; box-shadow:none; margin:0; padding:0;}
#calender_section_bot{ width:100%; margin-top:20px; float:left; border-left:1px solid #ccc; border-bottom:1px solid #ccc;}
#calender_section_bot ul{ margin:0; padding:0; list-style-type:none;}
#calender_section_bot ul li{ float:left; width:99px; height:80px; text-align:center; border-top:1px solid #ccc; border-right:1px solid #ccc; min-height:0; background:none; box-shadow:none; margin:0; padding:0; position:relative;}
#calender_section_bot ul li span{ margin-top:7px; float:left; margin-left:7px; text-align:center;}
.current{background-color: #d9b3ff !important;}
.red{background-color: #ff8080 !important;}
.yellow{background-color:  #ffff66 !important;}
.green{background-color: #9fff80 !important;}
.selected { background-color: #b3f0ff !important; }

/*========== Hover Popup ===============*/
.date_cell { cursor: pointer; cursor: hand; }
.date_cell:hover { background-color: #b3f0ff !important; }
.date_popup_wrap {
	position: absolute;
	width: 50px;
	height: 20px;
	z-index: 9999;

	background:transparent;
	color: Black !important;
}
.events_window {
	overflow: hidden;
	overflow-y: auto;
	width: 133px;
	height: 115px;
	margin-top: 28px;
	margin-left: 25px;
}
.event_wrap {
	margin-bottom: 10px; padding-bottom: 10px;
	border-bottom: solid 1px #E4E4E7;
	font-size: 12px;
	padding: 3px;
}
.date_window {
	margin-top:20px;
	margin-bottom: 2px;
	padding: 5px;
	font-size: 16px;
	margin-left:9px;
	margin-right:14px
}
.popup_event {

	font-size: 16px;
  width:100%;

}
.popup_event a {color: #000000 !important;}
.packeg_box a {color: #F58220;float: right;}
a:hover {color: #181919;text-decoration: underline;}

@media only screen and (min-width:480px) and (max-width:767px) {
#calender_section{ width:336px;}
#calender_section_top ul li{ width:47px;}
#calender_section_bot ul li{ width:47px;}
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
#calender_section{ width:219px;}
#calender_section_top ul li{ width:30px; font-size:11px;}
#calender_section_bot ul li{ width:30px;}
#calender_section_bot{ width:217px;}
#calender_section_bot ul li{ height:50px;}
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
#calender_section{ width:530px;}
#calender_section_top ul li{ width:74px;}
#calender_section_bot ul li{ width:74px;}
#calender_section_bot{ width:525px;}
#calender_section_bot ul li{ height:50px;}
}
/*---------index page----------------*/
.homeBtn {

    background:#23aacc;
   border: none;
   color: #FFFFFF;
   text-align: center;
   text-transform: uppercase;
   padding-top: 20px;
   padding: 20px;
  width:90%;
   transition: all 0.4s;
   cursor: pointer;

 }
 .homeBtn span {
   cursor: pointer;
   display: inline-block;
   position: relative;
   transition: 0.4s;
 }
 .homeBtn span:after {
   content: '\00bb';
   position: absolute;
   opacity: 0;
   top: 0;
   right:-20px;
   transition: 0.5s;
 }
 .homeBtn:hover span {
   padding-right: 25px;
 }
 .homeBtn:hover span:after {
   opacity: 1;
   right: 0;
 }



